Contacts/Connected Services/WcfService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contacts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contacts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="Contact.FieldKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FirstName" />
      <xs:enumeration value="LastName" />
      <xs:enumeration value="FullName" />
      <xs:enumeration value="Nickname" />
      <xs:enumeration value="Email" />
      <xs:enumeration value="Mailer" />
      <xs:enumeration value="Phone" />
      <xs:enumeration value="Note" />
      <xs:enumeration value="Birthday" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Contact.FieldKind" nillable="true" type="tns:Contact.FieldKind" />
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mailer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
</xs:schema>