Contacts/Connected Services/WcfServiceReference/ContactsWcfService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContactsWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IContactsWcfService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://contacts.ifmo.ru:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://contacts.ifmo.ru:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://contacts.ifmo.ru:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contacts.WcfService" />
      <xsd:import schemaLocation="http://contacts.ifmo.ru:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contacts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContactsWcfService_GetAllContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContacts" />
  </wsdl:message>
  <wsdl:message name="IContactsWcfService_GetAllContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContactsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsWcfService_FindBy_InputMessage">
    <wsdl:part name="parameters" element="tns:FindBy" />
  </wsdl:message>
  <wsdl:message name="IContactsWcfService_FindBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsWcfService_AddContact_InputMessage">
    <wsdl:part name="parameters" element="tns:AddContact" />
  </wsdl:message>
  <wsdl:message name="IContactsWcfService_AddContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddContactResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsWcfService_Greet_InputMessage">
    <wsdl:part name="parameters" element="tns:Greet" />
  </wsdl:message>
  <wsdl:message name="IContactsWcfService_Greet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GreetResponse" />
  </wsdl:message>
  <wsdl:portType name="IContactsWcfService">
    <wsdl:operation name="GetAllContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsWcfService/GetAllContacts" message="tns:IContactsWcfService_GetAllContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsWcfService/GetAllContactsResponse" message="tns:IContactsWcfService_GetAllContacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsWcfService/FindBy" message="tns:IContactsWcfService_FindBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsWcfService/FindByResponse" message="tns:IContactsWcfService_FindBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsWcfService/AddContact" message="tns:IContactsWcfService_AddContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsWcfService/AddContactResponse" message="tns:IContactsWcfService_AddContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Greet">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsWcfService/Greet" message="tns:IContactsWcfService_Greet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsWcfService/GreetResponse" message="tns:IContactsWcfService_Greet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IContactsWcfService" type="tns:IContactsWcfService">
    <wsp:PolicyReference URI="#WSHttpBinding_IContactsWcfService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllContacts">
      <soap12:operation soapAction="http://tempuri.org/IContactsWcfService/GetAllContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBy">
      <soap12:operation soapAction="http://tempuri.org/IContactsWcfService/FindBy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <soap12:operation soapAction="http://tempuri.org/IContactsWcfService/AddContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Greet">
      <soap12:operation soapAction="http://tempuri.org/IContactsWcfService/Greet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactsWcfService">
    <wsdl:port name="WSHttpBinding_IContactsWcfService" binding="tns:WSHttpBinding_IContactsWcfService">
      <soap12:address location="http://contacts.ifmo.ru:8080/api" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://contacts.ifmo.ru:8080/api</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>